<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
<script src="js/dashbord-semaforo.js"></script>
<script src="js/dashbord-chart.js"></script>
<link href="css/dashbord.css" rel="stylesheet">

<div class="animated fadeIn">
  <!-- icono para guardar el dashbord -->
  <div class="icon-gda">
    <span class="icon-guardar">
      <i class="far fa-save" data-toggle="modal" data-target=".modal-guardarDash"></i>
    </span>
  </div>
  <!-- Primera sección, información -->
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <div class="icon-conf">
            <i class="font-2xl cui-cog" data-toggle="modal" data-target=".modal-SeccionUno"></i>
          </div>
          <div class="chart-wrapper center">
            <strong class="txt-verde-card">$ 8,000,000</strong>
            <h3 class="txt-card">Número de Ventas</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <div class="icon-conf">
            <i class="font-2xl cui-cog" data-toggle="modal" data-target=".modal-SeccionUno"></i>
          </div>
          <div class="chart-wrapper center">
            <strong class="rojo-card">$ 5,000,000</strong>
            <h3 class="txt-card">Número de Costos</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <div class="chart-wrapper center">
            <div class="icon-conf">
              <i class="font-2xl cui-cog" data-toggle="modal" data-target=".modal-SeccionUno"></i>
            </div>
            <strong class="azul-card">23%</strong>
            <h3 class="txt-card">Margen de utilidad</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-border card-border-pr">
        <div class="card-body" data-toggle="modal" data-target=".modal-SeccionUno">
          <div class="chart-wrapper center">
            <i class="fas fa-plus card-icon card-icon-pr"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-sm-2">
      <div class="card card-border">
        <div class="card-body" data-toggle="modal" data-target=".modal-SeccionUno">
          <div class="chart-wrapper center">
            <i class="fas fa-plus card-icon"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="card card-border card-border-pr">
        <div class="card-body" data-toggle="modal" data-target=".modal-SeccionUno">
          <div class="chart-wrapper center">
            <i class="fas fa-plus card-icon"></i>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <!--Segunda sección, semaforo -->
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <div class="chart-wrapper">
            <div class="d-flex justify-content-between">
              <h3>OEE</h3>
              <div class="icon-conf">
                <i class="font-2xl cui-cog" data-toggle="modal" data-target=".modal-SeccionDos"></i>
              </div>
            </div>
            <div class="canvas-container1">
              <canvas id="chartSemaforo-1"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <div class="chart-wrapper">
            <div class="d-flex justify-content-between">
              <h3>SCRAP</h3>
              <div class="icon-conf">
                <i class="font-2xl cui-cog" data-toggle="modal" data-target=".modal-SeccionDos"></i>
              </div>
            </div>
            <canvas id="chartSemaforo-2"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <div class="chart-wrapper">
            <div class="d-flex justify-content-between">
              <h3>Producción</h3>
              <div class="icon-conf">
                <i class="font-2xl cui-cog" data-toggle="modal" data-target=".modal-SeccionDos"></i>
              </div>
            </div>
            <canvas id="chartSemaforo-3"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <div class="chart-wrapper">
            <div class="d-flex justify-content-between">
              <h3>Tiempo muerto</h3>
              <div class="icon-conf">
                <i class="font-2xl cui-cog" data-toggle="modal" data-target=".modal-SeccionDos"></i>
              </div>
            </div>
            <canvas id="chartSemaforo-4"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 oculto">
      <div class="card card-border card-border-pr">
        <div class="card-body" data-toggle="modal" data-target=".modal-SeccionDos">
          <div class="chart-wrapper center">
            <i class="fas fa-plus card-icon card-esp"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Tercera Sección, graficas -->
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="chart-wrapper">
            <div class="d-flex justify-content-between">
              <h3>Piezas programadas vs Piezas reales</h3>
              <div class="icon-conf">
                <i class="font-2xl cui-cog" data-toggle="modal" data-target=".modal-SeccionTres"></i>
              </div>
            </div>
            <div class="canvas-container">
              <canvas id="chart-1"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="chart-wrapper">
            <div class="d-flex justify-content-between">
              <h3>Producción programada</h3>
              <div class="icon-conf">
                <i class="font-2xl cui-cog" data-toggle="modal" data-target=".modal-SeccionTres"></i>
              </div>
            </div>
            <div class="canvas-container">
              <canvas id="chart-2"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--  Primer sección, Modal de indicadores -->
  <div class="modal fade modal-SeccionUno" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="esp-modal-cont">
            <label class="col-form-label txt-modal">Seleccionar Indicador:</label>
            <select class="form-control">
              <option >Ninguna</option>
              <option value>Producción Real</option>
              <option value>SCRAP</option>
              <option value>Incidencias</option>
              <option value>Alertas de Calidad</option>
              <option value>Porcentaje Alertas cerradas</option>
              <option value>DownTime</option>
              <option value>Tiempo de paro</option>
              <option value>Dias sin Accidentes</option>
              <option value>Retrabajo</option>
            </select>
          </div>

          <div class="esp-modal-btn">
            <button type="button" class="btn btn-primary">Aceptar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Segunda sección, Modal de indicadores -->
  <div class="modal fade modal-SeccionDos" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="esp-modal-cont">
            <label class="col-form-label txt-modal">Seleccionar Indicador:</label>
            <select class="form-control">
              <option >Ninguna</option>
              <option value>OEE</option>
              <option value>OA</option>
              <option value>DownTime</option>
              <option value>Porcentaje Alertas cerradas</option>
              <option value>Inventario</option>
              <option value>Ejecución de Preventivos</option>
              <option value>Acciones retraso</option>
            </select>
          </div>

          <div class="esp-modal-btn">
            <button type="button" class="btn btn-primary">Aceptar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tercera sección, Modal de indicadores -->
  <div class="modal fade modal-SeccionTres" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="esp-modal-cont">
            <label class="col-form-label txt-modal">Seleccionar Indicador:</label>
            <select class="form-control">
              <option >Ninguna</option>
              <option value>Produccion Real/Programada</option>
              <option value>DT</option>
              <option value>SCRAP</option>
              <option value>Alerta de Calidad</option>
              <option value>Retrabajo</option>
              <option value>OEE</option>
              <option value>OA</option>
              <option value>DT Por línea</option>
              <option value>DT Por departamento</option>
              <option value>SCRAP Por línea</option>
              <option value>SCRAP Por departamento</option>
              <option value>Alerta calidad de línea</option>
              <option value>Acciones abiertas/cerradas por departamento</option>
              <option value>Retrabajo por línea</option>
              <option value>OA por línea</option>
            </select>
          </div>

          <div class="esp-modal-btn">
            <button type="button" class="btn btn-primary">Aceptar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Guardar dashbord -->
  <div class="modal fade modal-guardarDash" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header no-border">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-select-tab" data-toggle="tab" href="#nav-select" role="tab" aria-controls="nav-select" aria-selected="true">Seleccionar Dashbord</a>
              <a class="nav-item nav-link" id="nav-guardar-tab" data-toggle="tab" href="#nav-guardar" role="tab" aria-controls="nav-guardar" aria-selected="false">Guardar Dashbord</a>
            </div>
          </nav>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-select" role="tabpanel" aria-labelledby="nav-select-tab">
              <label class="col-form-label txt-modal">Seleccionar Dashbord:</label>
              <select class="form-control">
                <option >Dashbord 1</option>
                <option >Dashbord 2</option>
              </select>
            </div>

            <div class="tab-pane fade" id="nav-guardar" role="tabpanel" aria-labelledby="nav-guardar-tab">
              <label class="col-form-label txt-modal">Nombre Dashbord:</label>
              <input type="text" class="form-control" placeholder="Escribe alias dashbord">
            </div>
          </div>
          <div class="esp-modal-btn">
            <button type="button" class="btn btn-primary">Aceptar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
