<link href="css/filtro.css" rel="stylesheet">
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="d-flex  justify-content-between">
        <h2 class="titulo">Orden de Trabajo</h2>

        <button class="btn btn-primary btn-agregar">
          <i class="fas fa-plus"></i>
          &nbsp;Agregar
        </button>
      </div>
    </div>

    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-3">
            <label class="text-fil">Estado</label>
            <select class="form-control">
              <option selected="true" disabled="disabled">Seleccionar estado</option>
              <option>Creada</option>
              <option>Ejecutada</option>
              <option>Aprobada</option>
            </select>
          </div>
          <div class="col-md-3">
            <label class="text-fil">Departamento</label>
            <select class="form-control">
              <option selected="true" disabled="disabled">Seleccionar departamento</option>
              <option>Departamento 1</option>
              <option>Departamento 2</option>
            </select>
          </div>
          <div class="col-md-3">
            <label class="text-fil">Realizado por:</label>
            <select class="form-control">
              <option selected="true" disabled="disabled">Seleccionar usario</option>
              <option>Usuario 1</option>
              <option>Usuario 2</option>
            </select>
          </div>
          <div class="col-md-3">
            <label class="text-fil">Tipo</label>
            <select class="form-control">
              <option selected="true" disabled="disabled">Seleccionar tipo</option>
              <option>Correctivo</option>
              <option>Preventivo</option>
              <option>Predictivo</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label class="text-fil">Desde</label>
            <input type="date" class="form-control">
          </div>
          <div class="col-md-3">
            <label class="text-fil">a</label>
            <input type="date" class="form-control">
          </div>
          <div class="col-md-3">
            <label class="text-fil">Folio</label>
            <input type="text" class="form-control" placeholder="Folio">
          </div>
          <div class="col-md-3">
            <label class="text-fil">Actividad</label>
            <input type="text" class="form-control" placeholder="Actividad">
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-secondary btn-buscar-fil" type="button" href="list.html">
            <i class="fas fa-search"></i>
            Buscar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
