<link href="css/form1.css" rel="stylesheet">

<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2 class="titulo-form">SLMF</h2>
        </div>

        <div class="card-body">
          <form>
            <div class="row">
              <div class="form-group col-md-4">
                <label class="text-form">Departamento</label>
                <div class="row">
                  <div class="col-md-10">
                    <select class="form-control">
                      <option selected="true" disabled="disabled">Seleccionar departamento</option>
                      <option>Almacen refacciones</option>
                      <option>Comedor</option>
                      <option>Seguridad</option>
                      <option>Proceso</option>
                      <option>Producción</option>
                      <option>Logística</option>
                      <option>Calidad</option>
                      <option>Maquina</option>
                      <option>Mantenimiento</option>
                      <option>Otro</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-primary btn-agregar-form">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label class="text-form">Tipo de trabajo</label>
                <div class="row">
                  <div class="col-md-10">
                    <select class="form-control">
                      <option selected="true" disabled="disabled">Seleccionar tipo trabajo</option>
                      <option>Administrativo</option>
                      <option>Brakedown</option>
                      <option>Correctivo</option>
                      <option>Mejora</option>
                      <option>Predictivo</option>
                      <option>Preventivo</option>
                      <option>TPM</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-primary btn-agregar-form">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label class="text-form">Estado</label>
                <select class="form-control">
                  <option selected="true" disabled="disabled">Seleccionar estado</option>
                  <option>Ejecutada</option>
                  <option>Aprobada</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-12">
                <label class="text-form">Descripción</label>
                <textarea class="form-control" name="description" rows="3" placeholder="Escriba descripción aqui..."></textarea>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-4">
                <label class="text-form">Actividad</label>
                <div class="row">
                  <div class="col-md-10">
                    <select class="form-control">
                      <option selected="true" disabled="disabled">Seleccionar Actividad</option>
                      <option>Actividad 1</option>
                      <option>Actividad 2</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-primary btn-agregar-form">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
            </div>

              <div class="form-group col-md-4">
                <label class="text-form">Salidas de almacen</label>
                <div class="row">
                  <div class="col-md-10">
                    <select class="form-control">
                      <option selected="true" disabled="disabled">Seleccionar Almacen</option>
                      <option>Almacen 1</option>
                      <option>Almacen 2</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-primary btn-agregar-form">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>

              </div>

              <div class="form-group col-md-4">
                <label class="text-form">Mediciones</label>
                <div class="row">
                  <div class="col-md-10">
                    <select class="form-control">
                      <option selected="true" disabled="disabled">Seleccionar Medición</option>
                      <option>Medición 1</option>
                      <option>Medición 2</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-primary btn-agregar-form">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-4">
                <label class="text-form">Procedimiento</label>
                <div class="row">
                  <div class="col-md-10">
                    <select class="form-control">
                      <option selected="true" disabled="disabled">Seleccionar Procedimiento</option>
                      <option>Procedimiento 1</option>
                      <option>Procedimiento 2</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-primary btn-agregar-form">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label class="text-form">Grupo de procedimientos</label>
                <div class="row">
                  <div class="col-md-10">
                    <select class="form-control">
                      <option selected="true" disabled="disabled">Seleccionar Grupo</option>
                      <option>Grupo 1</option>
                      <option>Grupo 2</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-primary btn-agregar-form">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label class="text-form">Lista de herramientas</label>
                <div class="row">
                  <div class="col-md-10">
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-primary btn-agregar-form">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-4">
                <label class="text-form">Supervisor*</label>
                <input type="text" class="form-control">
              </div>

              <div class="form-group col-md-4">
                <label class="text-form">Realizado por*</label>
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-4">
                <label class="text-form">Fecha de inicio Estimada</label>
                <input type="date" class="form-control" placeholder="fecha">
              </div>

              <div class="form-group col-md-4">
                <label class="text-form">Duración estimada</label>
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-4">
                <label class="text-form">Fecha Inicio</label>
                <input type="date" class="form-control">
              </div>

              <div class="form-group col-md-4">
                <label class="text-form">Fecha Final</label>
                <input type="date" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-12">
                <label class="text-form">Comentarios</label>
                <textarea class="form-control" name="description" rows="4" placeholder="Escriba descripción aqui..."></textarea>
              </div>
            </div>
          </form>
          <div class="btns-form">
            <button class="btn btn-sm btn-primary" type="submit">
              <i class="fas fa-plus"></i> Agregar
            </button>
            <button class="btn btn-sm btn-danger" type="reset">
              <i class="fa fa-ban"></i> Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
