<link href="css/graficas4.css" rel="stylesheet">

<div class="animated fadeIn">
  <h3 class="titulo">8:20 am</h3>

  <div class="card-columns cols-3">

    <!-- PRIMERA FILA de tarjetas Linea 1, 4, 7-->

    <div class="card card-border-rojo">
      <div class="card-body">
        <div class="chart-wrapper">
          <div class="row">
            <div class="col-5">
              <h3>Línea 1</h3>
            </div>
            <div class="col-5 offset-2">
              <h4 class="card-titulo-gris">OEE <strong class="card-titulo-rojo">45%</strong> </h4>
            </div>
          </div>
          <div class="row card-txt esp">
            <div class="col-7">
              <p>Produccion esperada</p>
            </div>
            <div class="col-3 offset-2">
              <p class="card-txt-gris">8213</p>
            </div>
          </div>
          <div class="row card-txt">
            <div class="col-6">
              <p>Produccion real</p>
            </div>
            <div class="col-3 offset-3">
              <p class="card-txt-gris">5123</p>
            </div>
          </div>
          <p class="card-inferior card-txt-rojo">
            <i class="fa fa-minus fa-lg mt-4 i-esp"></i>
            Paro de línea
          </p>
        </div>
      </div>
    </div>

    <div class="card card-border-lila">
      <div class="card-body">
        <div class="chart-wrapper">
          <div class="row">
            <div class="col-5">
              <h3>Línea 4</h3>
            </div>
            <div class="col-5 offset-2">
              <h4 class="card-titulo-gris">OEE <strong class="card-titulo-lila">45%</strong> </h4>
            </div>
          </div>
          <div class="row card-txt esp">
            <div class="col-7">
              <p>Produccion esperada</p>
            </div>
            <div class="col-3 offset-2">
              <p class="card-txt-gris">8213</p>
            </div>
          </div>
          <div class="row card-txt">
            <div class="col-6">
              <p>Produccion real</p>
            </div>
            <div class="col-3 offset-3">
              <p class="card-txt-gris">5123</p>
            </div>
          </div>
          <p class="card-inferior card-txt-lila">
            <i class="fa fa-minus fa-lg mt-4 i-esp"></i>
            Paro de línea
          </p>
        </div>
      </div>
    </div>

    <div class="card card-border-rojo">
      <div class="card-body">
        <div class="chart-wrapper">
          <div class="row">
            <div class="col-5">
              <h3>Línea 7</h3>
            </div>
            <div class="col-5 offset-2">
              <h4 class="card-titulo-gris">OEE <strong class="card-titulo-rojo">45%</strong> </h4>
            </div>
          </div>
          <div class="row card-txt esp">
            <div class="col-7">
              <p>Produccion esperada</p>
            </div>
            <div class="col-3 offset-2">
              <p class="card-txt-gris">8213</p>
            </div>
          </div>
          <div class="row card-txt">
            <div class="col-6">
              <p>Produccion real</p>
            </div>
            <div class="col-3 offset-3">
              <p class="card-txt-gris">5123</p>
            </div>
          </div>
          <p class="card-inferior card-txt-rojo">
            <i class="fa fa-minus fa-lg mt-4 i-esp"></i>
            Paro de línea
          </p>
        </div>
      </div>
    </div>

    <!-- SEGUNDA FILAAAAA de tarjetas Linea 2,5,8 -->
    <div class="card card-border-amarilla">
      <div class="card-body">
        <div class="chart-wrapper">
          <div class="row">
            <div class="col-5">
              <h3>Línea 2</h3>
            </div>
            <div class="col-5 offset-2">
              <h4 class="card-titulo-gris">
                OEE
                <strong class="card-titulo-amarilla">45%</strong>
              </h4>
            </div>
          </div>
          <div class="row card-txt esp">
            <div class="col-7">
              <p>Produccion esperada</p>
            </div>
            <div class="col-3 offset-2">
              <p class="card-txt-gris">8213</p>
            </div>
          </div>
          <div class="row card-txt">
            <div class="col-6">
              <p>Produccion real</p>
            </div>
            <div class="col-3 offset-3">
              <p class="card-txt-gris">5123</p>
            </div>
          </div>
          <p class="card-inferior card-txt-amarilla">
            <i class="fa fa-minus fa-lg mt-4 i-esp"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="card card-border-verde">
      <div class="card-body">
        <div class="chart-wrapper">
          <div class="row">
            <div class="col-5">
              <h3>Línea 5</h3>
            </div>
            <div class="col-5 offset-2">
              <h4 class="card-titulo-gris">
                OEE
                <strong class="card-titulo-verde">45%</strong>
              </h4>
            </div>
          </div>
          <div class="row card-txt esp">
            <div class="col-7">
              <p>Produccion esperada</p>
            </div>
            <div class="col-3 offset-2">
              <p class="card-txt-gris">8213</p>
            </div>
          </div>
          <div class="row card-txt">
            <div class="col-6">
              <p>Produccion real</p>
            </div>
            <div class="col-3 offset-3">
              <p class="card-txt-gris">5123</p>
            </div>
          </div>
          <p class="card-inferior card-txt-verde">
            <i class="fa fa-minus fa-lg mt-4 i-esp"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="card card-border-morado">
      <div class="card-body">
        <div class="chart-wrapper">
          <div class="row">
            <div class="col-5">
              <h3>Línea 8</h3>
            </div>
            <div class="col-5 offset-2">
              <h4 class="card-titulo-gris">
                OEE
                <strong class="card-titulo-morado">45%</strong>
              </h4>
            </div>
          </div>
          <div class="row card-txt esp">
            <div class="col-7">
              <p>Produccion esperada</p>
            </div>
            <div class="col-3 offset-2">
              <p class="card-txt-gris">8213</p>
            </div>
          </div>
          <div class="row card-txt">
            <div class="col-6">
              <p>Produccion real</p>
            </div>
            <div class="col-3 offset-3">
              <p class="card-txt-gris">5123</p>
            </div>
          </div>
          <p class="card-inferior card-txt-morado">
            <i class="fa fa-minus fa-lg mt-4 i-esp"></i>
            Paro de línea
          </p>
        </div>
      </div>
    </div>

    <!-- TERCERA FILAAAA de tarjetas Linea 3,6,9-->
    <div class="card card-border-naranja">
      <div class="card-body">
        <div class="chart-wrapper">
          <div class="row">
            <div class="col-5">
              <h3>Línea 3</h3>
            </div>
            <div class="col-5 offset-2">
              <h4 class="card-titulo-gris">
                OEE
                <strong class="card-titulo-naranja">45%</strong>
              </h4>
            </div>
          </div>
          <div class="row card-txt esp">
            <div class="col-7">
              <p>Produccion esperada</p>
            </div>
            <div class="col-3 offset-2">
              <p class="card-txt-gris">8213</p>
            </div>
          </div>
          <div class="row card-txt">
            <div class="col-6">
              <p>Produccion real</p>
            </div>
            <div class="col-3 offset-3">
              <p class="card-txt-gris">5123</p>
            </div>
          </div>
          <p class="card-inferior card-txt-naranja">
            <i class="fa fa-minus fa-lg mt-4 i-esp"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="card card-border-azul">
      <div class="card-body">
        <div class="chart-wrapper">
          <div class="row">
            <div class="col-5">
              <h3>Línea 6</h3>
            </div>
            <div class="col-5 offset-2">
              <h4 class="card-titulo-gris">
                OEE
                <strong class="card-titulo-azul">45%</strong>
              </h4>
            </div>
          </div>
          <div class="row card-txt esp">
            <div class="col-7">
              <p>Produccion esperada</p>
            </div>
            <div class="col-3 offset-2">
              <p class="card-txt-gris">8213</p>
            </div>
          </div>
          <div class="row card-txt">
            <div class="col-6">
              <p>Produccion real</p>
            </div>
            <div class="col-3 offset-3">
              <p class="card-txt-gris">5123</p>
            </div>
          </div>
          <p class="card-inferior card-txt-azul">
            <i class="fa fa-minus fa-lg mt-4 i-esp"></i>
            Paro de línea
          </p>
        </div>
      </div>
    </div>

    <div class="card card-border-rojo">
      <div class="card-body">
        <div class="chart-wrapper">
          <div class="row">
            <div class="col-5">
              <h3>Línea 9</h3>
            </div>
            <div class="col-5 offset-2">
              <h4 class="card-titulo-gris">
                OEE
                <strong class="card-titulo-rojo">45%</strong>
              </h4>
            </div>
          </div>
          <div class="row card-txt esp">
            <div class="col-7">
              <p>Produccion esperada</p>
            </div>
            <div class="col-3 offset-2">
              <p class="card-txt-gris">8213</p>
            </div>
          </div>
          <div class="row card-txt">
            <div class="col-6">
              <p>Produccion real</p>
            </div>
            <div class="col-3 offset-3">
              <p class="card-txt-gris">5123</p>
            </div>
          </div>
          <p class="card-inferior card-txt-rojo">
            <i class="fa fa-minus fa-lg mt-4 i-esp"></i>
            Paro de línea
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
