<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
<script src="js/graficas3.js"></script>
<link href="css/graficas3.css" rel="stylesheet">

<div class="animated fadeIn">
  <h2 class="titulo">Línea 1</h2>

  <div class="card-columns cols-2">
    <div class="card">
      <div class="card-body">
        <div class="chart-wrapper">
          <h3 class="graf-titulo">Producción</h3>
          <canvas id="chart-1"></canvas>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="chart-wrapper">
          <h3 class="graf-titulo">Downtime</h3>
          <canvas id="chart-3"></canvas>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="chart-wrapper">
          <h3 class="graf-titulo">SCRAP</h3>
          <canvas id="chart-2"></canvas>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="chart-wrapper">
          <h3 class="graf-titulo">Downtime</h3>
          <canvas id="chart-4"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
