<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
<script src="js/graficas.js"></script>
<link href="css/graficas.css" rel="stylesheet">


<div class="animated fadeIn">
  <div class="card-columns cols-2">
    <div class="card">
      <div class="card-body">
        <div class="chart-wrapper">
          <h3 class="titulo">OEE</h3>
          <canvas id="chart-1"></canvas>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="chart-wrapper">
          <h3 class="titulo">Downtime</h3>
          <canvas id="chart-2"></canvas>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="chart-wrapper">
          <h3 class="titulo">Scrap by Line</h3>
          <canvas id="chart-3"></canvas>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="chart-wrapper">
          <h3 class="titulo">Production</h3>
          <canvas id="chart-4"></canvas>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="chart-wrapper">
          <h3 class="titulo">Downtime por Department</h3>
          <canvas id="chart-5"></canvas>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="chart-wrapper">
          <h3 class="titulo">Scrap by Cause</h3>
          <canvas id="chart-6"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
