<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
<script src="js/graficas5.js"></script>
<link href="css/graficas5.css" rel="stylesheet">

<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="chart-wrapper">
        <h3 class="titulo">Acumulado</h3>
        <canvas id="chart-1"></canvas>
      </div>
    </div>
  </div>
</div>
