<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
<script src="js/graficas2.js"></script>
<link href="css/graficas2.css" rel="stylesheet">

<div class="animated fadeIn">
  <div class="card-columns cols-2">
    <div class="card">
      <div class="card-body">
        <div class="chart-wrapper">
          <h3>Acumulado</h3>
          <canvas id="chart-1"></canvas>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="chart-wrapper">
          <h3>Bar Chart</h3>
          <canvas id="chart-2"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 col-xl-4">
          <h3 class="card-title mb-0">Referrer</h3>
        </div>

        <div class="col-md-9 col-xl-8">
          <div class="d-flex justify-content-between">
            <div class="">
              <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                <label class="btn btn-outline-primary">
                  <input id="option1" type="radio" name="options" autocomplete="off" /> Semana
                </label>
                <label class="btn btn-outline-primary active">
                  <input id="option2" type="radio" name="options" autocomplete="off" checked="" /> Mes
                </label>
              </div>
            </div>

            <div class="">
              <div class="input-group mb-3">
                <span class="text-med">Desde:</span>
                <input type="date" class="form-control" placeholder="Fecha Inicio" aria-label="Fecha Inicio" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span>
                </div>
              </div>
            </div>

            <div class="float-right">
              <div class="input-group mb-3">
                <span class="text-med">Hasta:</span>
                <input type="date" class="form-control" placeholder="Fecha Inicio" aria-label="Fecha Inicio" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <table class="table align-center border-ab">
        <thead class="cabecera">
          <tr>
            <th scope="col">Linea</th>
            <th scope="col">Enero</th>
            <th scope="col">Febrero</th>
            <th scope="col">Marzo</th>
            <th scope="col">Abril</th>
            <th scope="col">Mayo</th>
            <th scope="col">Junio</th>
            <th scope="col">Julio</th>
            <th scope="col">Agosto</th>
            <th scope="col">Septiembre</th>
            <th scope="col">Octubre</th>
            <th scope="col">Nombre</th>
            <th scope="col">Diciembre</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="no-border-top" scope="row">1</th>
            <td class="no-border-top">3746</td>
            <td class="no-border-top">752</td>
            <td class="no-border-top">752</td>
            <td class="no-border-top">752</td>
            <td class="no-border-top">752</td>
            <td class="no-border-top">752</td>
            <td class="no-border-top">752</td>
            <td class="no-border-top">752</td>
            <td class="no-border-top">752</td>
            <td class="no-border-top">752</td>
            <td class="no-border-top">752</td>
            <td class="no-border-top">752</td>
            <td class="no-border-top">752</td>
          </tr>

          <tr>
            <th scope="row">2</th>
            <td>5746</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>8542</td>
          </tr>

          <tr>
            <th scope="row">3</th>
            <td>1746</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>3654</td>
          </tr>

          <tr>
            <th scope="row">4</th>
            <td>8944</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>10000</td>
          </tr>

          <tr>
            <th scope="row">5</th>
            <td>1547</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>14587</td>
          </tr>

          <tr>
            <th scope="row">6</th>
            <td>9875</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>752</td>
            <td>10240</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
