<link href="node_modules/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
<link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="css/listadoCatalogo.css" rel="stylesheet">

<div class="animated fadeIn">
  <div class="card">
    <div class="card-header d-inline-flex">
      <h2 class="titulo">Catalogo 1</h2>
      <button class="btn btn-primary btn-agre esp-ab" type="button">
        <i class="fa fa-plus"></i>
        Agregar nuevo
      </button>
    </div>
    <div class="card-body">
      <table class="table border-ab">
        <thead class="cabecera">
          <tr>
            <th scope="col">Supervisor</th>
            <th scope="col">Executor</th>
            <th scope="col">Línea</th>
            <th scope="col">Estation</th>
            <th scope="col">Fecha</th>
            <th scope="col">Checklist</th>
            <th scope="col">Acciones</th>
            <th scope="col">Aprovado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="no-border-top">JBeltran</td>
            <td class="no-border-top">Ramiro López</td>
            <td class="no-border-top">Prensa B</td>
            <td class="no-border-top">Actividad</td>
            <td class="no-border-top">20-12-2019</td>
            <td class="no-border-top">
              <div>
                <a href="#">
                  <img class="imagen" src="img/brand/checklist.svg"/>
                </a>
              </div>
            </td>
            <td class="no-border-top">
              <a class="btn btn-outline-success icon-a" href="#">
                <i class="fa fa-edit icono"></i>
              </a>
              <a class="btn btn-outline-info ico-a">
                <i class="fas fa-info icono azl"></i>
              </a>
              <a class="btn btn-outline-secondary icon-a">
                <i class="fas fa-print icono gris"></i>
              </a>
              <a class="btn btn-outline-danger icon-a" href="#dangerModal">
                <i class="fa fa-trash-o icono"></i>
              </a>
            </td>
            <td class="no-border-top"><input type="checkbox"></td>
          </tr>

          <tr>
            <td >JBeltran</td>
            <td>Ramiro López</td>
            <td>Prensa A</td>
            <td>Actividad</td>
            <td>19-12-2019</td>
            <td>
              <div>
                <a href="#">
                  <img class="imagen" src="img/brand/checklist.svg"/>
                </a>
              </div>
            </td>
            <td>
              <a class="btn btn-outline-success icon-a" href="#">
                <i class="fa fa-edit icono"></i>
              </a>
              <a class="btn btn-outline-info ico-a">
                <i class="fas fa-info icono azl"></i>
              </a>
              <a class="btn btn-outline-secondary icon-a">
                <i class="fas fa-print icono gris"></i>
              </a>
              <a class="btn btn-outline-danger icon-a" href="#dangerModal">
                <i class="fa fa-trash-o icono"></i>
              </a>
            </td>
            <td><input type="checkbox"></td>
          </tr>

          <tr>
            <td >JBeltran</td>
            <td>Ramiro López</td>
            <td>Prensa B</td>
            <td>Actividad</td>
            <td>20-12-2019</td>
            <td>
              <div>
                <a href="#">
                  <img class="imagen" src="img/brand/checklist.svg"/>
                </a>
              </div>
            </td>
            <td>
              <a class="btn btn-outline-success icon-a" href="#">
                <i class="fa fa-edit icono"></i>
              </a>
              <a class="btn btn-outline-info ico-a">
                <i class="fas fa-info icono azl"></i>
              </a>
              <a class="btn btn-outline-secondary icon-a">
                <i class="fas fa-print icono gris"></i>
              </a>
              <a class="btn btn-outline-danger icon-a" href="#dangerModal">
                <i class="fa fa-trash-o icono"></i>
              </a>
            </td>
            <td><input type="checkbox"></td>
          </tr>

          <tr>
            <td >JBeltran</td>
            <td>Ramiro López</td>
            <td>Prensa A</td>
            <td>Actividad</td>
            <td>20-12-2019</td>
            <td>
              <div>
                <a href="#">
                  <img class="imagen" src="img/brand/checklist.svg"/>
                </a>
              </div>
            </td>
            <td>
              <a class="btn btn-outline-success icon-a" href="#">
                <i class="fa fa-edit icono"></i>
              </a>
              <a class="btn btn-outline-info ico-a">
                <i class="fas fa-info icono azl"></i>
              </a>
              <a class="btn btn-outline-secondary icon-a">
                <i class="fas fa-print icono gris"></i>
              </a>
              <a class="btn btn-outline-danger icon-a" href="#dangerModal">
                <i class="fa fa-trash-o icono"></i>
              </a>
            </td>
            <td><input type="checkbox"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
