<link href="node_modules/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
<link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="css/ordenTrabajo.css" rel="stylesheet">
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="d-flex  justify-content-between">
        <h2 class="titulo-filtro">Orden de Trabajo</h2>
        <button class="btn btn-primary btn-agregar">
          <i class="fas fa-plus"></i>
          &nbsp;Agregar
        </button>
      </div>
    </div>

    <div class="card-body card-esp-filtro">
      <form>
        <div class="row">
          <div class="col-md-3">
            <label class="text-fil">Estado</label>
            <select class="form-control">
              <option selected="true" disabled="disabled">Seleccionar estado</option>
              <option>Creada</option>
              <option>Ejecutada</option>
              <option>Aprobada</option>
            </select>
          </div>
          <div class="col-md-3">
            <label class="text-fil">Departamento</label>
            <select class="form-control">
              <option selected="true" disabled="disabled">Seleccionar departamento</option>
              <option>Departamento 1</option>
              <option>Departamento 2</option>
            </select>
          </div>
          <div class="col-md-3">
            <label class="text-fil">Realizado por:</label>
            <select class="form-control">
              <option selected="true" disabled="disabled">Seleccionar usario</option>
              <option>Usuario 1</option>
              <option>Usuario 2</option>
            </select>
          </div>
          <div class="col-md-3">
            <label class="text-fil">Tipo</label>
            <select class="form-control">
              <option selected="true" disabled="disabled">Seleccionar tipo</option>
              <option>Correctivo</option>
              <option>Preventivo</option>
              <option>Predictivo</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label class="text-fil">Desde</label>
            <input type="date" class="form-control">
          </div>
          <div class="col-md-3">
            <label class="text-fil">a</label>
            <input type="date" class="form-control">
          </div>
          <div class="col-md-3">
            <label class="text-fil">Folio</label>
            <input type="text" class="form-control" placeholder="Folio">
          </div>
          <div class="col-md-3">
            <label class="text-fil">Actividad</label>
            <input type="text" class="form-control" placeholder="Actividad">
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-secondary btn-buscar-fil" type="button" href="list.html">
            <i class="fas fa-search"></i>
            Buscar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <table class="table border-ab">
        <thead class="cabecera">
          <tr>
            <th scope="col">Supervisor</th>
            <th scope="col">Executor</th>
            <th scope="col">Línea</th>
            <th scope="col">Estation</th>
            <th scope="col">Fecha</th>
            <th scope="col">Checklist</th>
            <th scope="col">Acciones</th>
            <th scope="col">Aprovado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="no-border-top">JBeltran</td>
            <td class="no-border-top">Ramiro López</td>
            <td class="no-border-top">Prensa B</td>
            <td class="no-border-top">Actividad</td>
            <td class="no-border-top">20-12-2019</td>
            <td class="no-border-top">
              <div>
                <a href="#">
                  <img class="imagen" src="img/brand/checklist.svg"/>
                </a>
              </div>
            </td>
            <td class="no-border-top">
              <a class="btn btn-outline-success icon-a" href="#">
                <i class="fa fa-edit icono"></i>
              </a>
              <a class="btn btn-outline-info i-a">
                <i class="fas fa-info icono azl"></i>
              </a>
              <a class="btn btn-outline-secondary icon-a">
                <i class="fas fa-print icono gris"></i>
              </a>
              <a class="btn btn-outline-danger icon-a" href="#dangerModal">
                <i class="fa fa-trash-o icono"></i>
              </a>
            </td>
            <td class="no-border-top"><input type="checkbox"></td>
          </tr>

          <tr>
            <td >JBeltran</td>
            <td>Ramiro López</td>
            <td>Prensa A</td>
            <td>Actividad</td>
            <td>19-12-2019</td>
            <td>
              <div>
                <a href="#">
                  <img class="imagen" src="img/brand/checklist.svg"/>
                </a>
              </div>
            </td>
            <td>
              <a class="btn btn-outline-success icon-a" href="#">
                <i class="fa fa-edit icono"></i>
              </a>
              <a class="btn btn-outline-info i-a">
                <i class="fas fa-info icono azl"></i>
              </a>
              <a class="btn btn-outline-secondary icon-a">
                <i class="fas fa-print icono gris"></i>
              </a>
              <a class="btn btn-outline-danger icon-a" href="#dangerModal">
                <i class="fa fa-trash-o icono"></i>
              </a>
            </td>
            <td><input type="checkbox"></td>
          </tr>

          <tr>
            <td >JBeltran</td>
            <td>Ramiro López</td>
            <td>Prensa B</td>
            <td>Actividad</td>
            <td>20-12-2019</td>
            <td>
              <div>
                <a href="#">
                  <img class="imagen" src="img/brand/checklist.svg"/>
                </a>
              </div>
            </td>
            <td>
              <a class="btn btn-outline-success icon-a" href="#">
                <i class="fa fa-edit icono"></i>
              </a>
              <a class="btn btn-outline-info i-a">
                <i class="fas fa-info icono azl"></i>
              </a>
              <a class="btn btn-outline-secondary icon-a">
                <i class="fas fa-print icono gris"></i>
              </a>
              <a class="btn btn-outline-danger icon-a" href="#dangerModal">
                <i class="fa fa-trash-o icono"></i>
              </a>
            </td>
            <td><input type="checkbox"></td>
          </tr>

          <tr>
            <td >JBeltran</td>
            <td>Ramiro López</td>
            <td>Prensa A</td>
            <td>Actividad</td>
            <td>20-12-2019</td>
            <td>
              <div>
                <a href="#">
                  <img class="imagen" src="img/brand/checklist.svg"/>
                </a>
              </div>
            </td>
            <td>
              <a class="btn btn-outline-success icon-a" href="#">
                <i class="fa fa-edit icono"></i>
              </a>
              <a class="btn btn-outline-info i-a">
                <i class="fas fa-info icono azl"></i>
              </a>
              <a class="btn btn-outline-secondary icon-a">
                <i class="fas fa-print icono gris"></i>
              </a>
              <a class="btn btn-outline-danger icon-a" href="#dangerModal">
                <i class="fa fa-trash-o icono"></i>
              </a>
            </td>
            <td><input type="checkbox"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
