<link href="css/tabs.css" rel="stylesheet">

<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="titulo">SLMF</h2>
                </div>

                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="text-form">Departamento</label>
                                <div class="row">
                                    <div class="col-md-10">
                                        <select class="form-control">
                      <option selected="true" disabled="disabled">Seleccionar departamento</option>
                      <option>Almacen refacciones</option>
                      <option>Comedor</option>
                      <option>Seguridad</option>
                      <option>Proceso</option>
                      <option>Producción</option>
                      <option>Logística</option>
                      <option>Calidad</option>
                      <option>Maquina</option>
                      <option>Mantenimiento</option>
                      <option>Otro</option>
                    </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary btn-agregar-form">
                      <i class="fas fa-plus"></i>
                    </button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="text-form">Tipo de trabajo</label>
                                <div class="row">
                                    <div class="col-md-10">
                                        <select class="form-control">
                      <option selected="true" disabled="disabled">Seleccionar tipo trabajo</option>
                      <option>Administrativo</option>
                      <option>Brakedown</option>
                      <option>Correctivo</option>
                      <option>Mejora</option>
                      <option>Predictivo</option>
                      <option>Preventivo</option>
                      <option>TPM</option>
                    </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary btn-agregar-form">
                      <i class="fas fa-plus"></i>
                    </button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="text-form">Estado</label>
                                <select class="form-control">
                  <option selected="true" disabled="disabled">Seleccionar estado</option>
                  <option>Ejecutada</option>
                  <option>Aprobada</option>
                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4 esp">
                                <label class="text-form">Descripción</label>
                                <textarea class="form-control textarea-form" name="description" rows="3" placeholder="Escriba descripción aqui..."></textarea>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="text-form">Actividad</label>
                                <div class="row">
                                    <div class="col-md-10">
                                        <select class="form-control">
                      <option selected="true" disabled="disabled">Seleccionar Actividad</option>
                      <option>Actividad 1</option>
                      <option>Actividad 2</option>
                    </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary btn-agregar-form">
                      <i class="fas fa-plus"></i>
                    </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="text-form">Salidas de almacen</label>
                                <div class="row">
                                    <div class="col-md-10">
                                        <select class="form-control">
                    <option selected="true" disabled="disabled">Seleccionar Almacen</option>
                    <option>Almacen 1</option>
                    <option>Almacen 2</option>
                  </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary btn-agregar-form">
                    <i class="fas fa-plus"></i>
                  </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="text-form">Mediciones</label>
                                <div class="row">
                                    <div class="col-md-10">
                                        <select class="form-control">
                      <option selected="true" disabled="disabled">Seleccionar Medición</option>
                      <option>Medición 1</option>
                      <option>Medición 2</option>
                    </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary btn-agregar-form">
                      <i class="fas fa-plus"></i>
                    </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4 esp">
                                <label class="text-form">Procedimiento</label>
                                <div class="row">
                                    <div class="col-md-10">
                                        <select class="form-control">
                      <option selected="true" disabled="disabled">Seleccionar Procedimiento</option>
                      <option>Procedimiento 1</option>
                      <option>Procedimiento 2</option>
                    </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary btn-agregar-form">
                      <i class="fas fa-plus"></i>
                    </button>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group col-md-4 esp">
                                <label class="text-form">Lista de herramientas</label>
                                <div class="row">
                                    <div class="col-md-10">
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary btn-agregar-form">
                      <i class="fas fa-plus"></i>
                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-md-4 esp">
                                <label class="text-form">Supervisor*</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group col-md-4 esp">
                                <label class="text-form">Realizado por*</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-4 esp">
                                <label class="text-form">Fecha de inicio Estimada</label>
                                <input type="date" class="form-control" placeholder="fecha">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4 esp">
                                <label class="text-form">Duración estimada</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-4 esp">
                                <label class="text-form">Fecha Inicio</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="form-group col-md-4 esp">
                                <label class="text-form">Fecha Final</label>
                                <input type="date" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4 esp">
                                <label class="text-form">Comentarios</label>
                                <textarea class="form-control textarea-form" name="description" rows="4" placeholder="Escriba descripción aqui..."></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <ul class=" nav nav-tabs " id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="ciclo-tab" data-toggle="tab" href="#ciclo" role="tab" aria-controls="home" aria-selected="true">Cantidad de ciclos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="dia-mes-ano-tab" data-toggle="tab" href="#dia-mes-ano" role="tab" aria-controls="profile" aria-selected="false">Días / Mes / Año</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="semana-tab" data-toggle="tab" href="#semana" role="tab" aria-controls="contact" aria-selected="false">Semana</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="mes-tab" data-toggle="tab" href="#mes" role="tab" aria-controls="contact" aria-selected="false">Mes</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active row" id="ciclo" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="form-check col-md-4 mb-3  ">
                                            <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="" checked disabled="disabled">Cantidad de ciclos
                        </label>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-3 ">
                                                <label class="text-form">Cantidad de ciclos</label>
                                                <input type="number" class="form-control">
                                            </div>
                                            <div class="form-group col-md-3 ">
                                                <label class="text-form">Evento actual</label>
                                                <input type="number" class="form-control">
                                            </div>
                                            <div class="form-group col-md-3 ">
                                                <label class="text-form">Tiempo de espera</label>
                                                <input type="number" class="form-control">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label class="text-form">Fecha de inicio </label>
                                                <input type="date" class="form-control" placeholder="fecha">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-3 ">
                                                <label class="text-form">Tiempo de espera</label>
                                                <input type="number" class="form-control">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label class="text-form">Hora de inicio</label>
                                                <select class="form-control select">
                            <option selected="true" disabled="disabled">Seleccionar hora de inicio</option>
                            <option>00:00</option>
                            <option>01:00</option>
                            <option>02:00</option>
                            <option>03:00</option>
                            <option>04:00</option>
                            <option>05:00</option>
                            <option>06:00</option>
                            <option>07:00</option>
                            <option>08:00</option>
                            <option>09:00</option>
                            <option>10:00</option>
                            <option>11:00</option>
                            <option>12:00</option>
                            <option>13:00</option>
                            <option>14:00</option>
                            <option>15:00</option>
                            <option>16:00</option>
                            <option>17:00</option>
                            <option>18:00</option>
                            <option>19:00</option>
                            <option>20:00</option>
                            <option>21:00</option>
                            <option>22:00</option>
                            <option>23:00</option>
                          </select>
                                            </div>
                                            <div class="form-group col-md-3 ">
                                                <label class="text-form">Minutos</label>
                                                <input type="number" class="form-control">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="dia-mes-ano" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="form-check col-md-4 mb-3  ">
                                            <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="" checked disabled="disabled">Each to time
                      </label>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-3 ">
                                                <label class="text-form">Each to time</label>
                                                <input type="number" class="form-control">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label class="text-form">Periodo de tiempo</label>
                                                <select class="form-control select">
                          <option selected="true" disabled="disabled">Seleccionar periodo de tiempo</option>
                          <option>Días</option>
                          <option>Mes</option>
                          <option>Año</option>
                        </select>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label class="text-form">Fecha de inicio </label>
                                                <input type="date" class="form-control" placeholder="fecha">
                                            </div>
                                            <div class="form-group col-md-3 ">
                                                <label class="text-form">Tiempo de espera</label>
                                                <input type="number" class="form-control">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label class="text-form">Hora de inicio</label>
                                                <select class="form-control select">
                          <option selected="true" disabled="disabled">Seleccionar hora de inicio</option>
                          <option>00:00</option>
                          <option>01:00</option>
                          <option>02:00</option>
                          <option>03:00</option>
                          <option>04:00</option>
                          <option>05:00</option>
                          <option>06:00</option>
                          <option>07:00</option>
                          <option>08:00</option>
                          <option>09:00</option>
                          <option>10:00</option>
                          <option>11:00</option>
                          <option>12:00</option>
                          <option>13:00</option>
                          <option>14:00</option>
                          <option>15:00</option>
                          <option>16:00</option>
                          <option>17:00</option>
                          <option>18:00</option>
                          <option>19:00</option>
                          <option>20:00</option>
                          <option>21:00</option>
                          <option>22:00</option>
                          <option>23:00</option>
                        </select>
                                            </div>
                                            <div class="form-group col-md-3 ">
                                                <label class="text-form">Minutos</label>
                                                <input type="number" class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="semana" role="tabpanel" aria-labelledby="contact-tab">tres</div>
                                    <div class="tab-pane fade" id="mes" role="tabpanel" aria-labelledby="contact-tab">cuatro</div>




                                </div>

                    </form>

                    <div class="btn-form">
                        <button class="btn btn-sm btn-primary" type="submit">
              <i class="fas fa-plus"></i> Agregar
            </button>
                        <button class="btn btn-sm btn-danger" type="reset">
              <i class="fa fa-ban"></i> Cancelar
            </button>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>