/* color de las letras de la pagina y de las tablas */
body, .table{
  color: #e4e7ea;
}
/* estilos del fondo y borde del header y de donde se muestra la ruta */
.app-header, .breadcrumb {
  background-color: #3A4149;
  border-bottom: 1px solid #181924;
}
/* borde de lado derecho del inicio en menu */
.sidebar .nav-link.active {
  border-right: 1px solid #181924;
}
/* Fondo donde esta el contenido */
.main{
  background-color: #2F353A!important;
}
/* estilos del header y footer de la card/tarjeta */
.card-header{
  background-color: #343b41;
  border-bottom: 1px solid #23282c;
}
.card-footer{
  background-color: #343b41;
  border-top: 1px solid #23282c;
}
/* Fondo de la card(cada tarjetita o contenido) */
.card{
  background-color: #3A4149;
  border: 1px solid #23282C;
  color: #fff;
}


/* estilos de prueba para ver cual se eligira para las card de "+" del dashbord */

/* estios de la card de agregar contenido del dashbord */
.card-border-pr{
  background-color: #3A4149!important;
  border: 1px solid #23282C!important;
}
/* estilos del icono mas del dashbord */
.card-icon-pr{
  color: #fff!important;
}


/* estilos para los titulos de los header de las card*/
h2.titulo{
  color: #20a8d8;
}
/* estios del titulo de grafico4 */
h3.titulo{
  color: #fff;
}
/* borde derecho del menu lateral */
.sidebar{
  border-right: 1px solid #181924;
}
/* estilos de los input o select */
.form-control{
  color: #e4e7ea;
  background-color: #515b65;
  border: 1px solid #23282c;
}
.form-control:focus{
  color: #fff;
}
/* estilos del select pero cuando lo seleccionas */
.form-control:focus{
  background-color: #515b65;
  border: 1px solid #8AD4EE;
}
/* estilos de los input y los botenes agrupados */
.input-group-text{
  background-color: #343b41;
  border: 1px solid #23282c;
  color: #e4e7ea;
}
/* estilos de los botones agrupados */
.btn-outline-primary {
    color: #20a8d8;
    border-color: #c8ced3;
    color: #c8ced3;
}
/* estilo de la cabecera de la tabla */
thead.cabecera{
  color: #706868;
  background: #F5F6FA;
}
/* color del icono print del listado */
.gris{
  color: #CBCBCB!important;
}
/* estilos del footer */
.app-footer{
  background-color: #3A4149;
  border-top: 1px solid #181924;
  color: #e4e7ea;
}
/*# sourceMappingURL=dark.css.map */