.oculto{
  display: none;
}
/* estilos icono guardar dashbord */
/* .icon-gda{
  text-align: center;
  font-size: 20px;
  color: #767E84;
} */
.icon-gda{
  text-align: center;
  font-size: 22px;
  color: #3C83CA;
  margin-top: 1rem;
}
/* estilo para reducir el espacio de abajo de las tarjetas */
.card {
  margin-bottom: .5rem;
}
/* reducir el espacio de izq y derecha de las tarjetas */
.col-sm-3, .col-sm-4, .col-sm-6,.col-sm-2,.col-sm-1{
  padding-right: 5px;
  padding-left: 5px;
}
/* estilos borde de las tarjetas agregar */
.card-border{
  border: 1px solid #BABCBF;
  background-color: #e4e5e6;
  cursor: pointer;
}
.card-icon{
  font-size: 50px;
  padding: 12px;
  color: #36506F;
}
.card-esp{
  padding: 22.1%;
}
@media (min-width:1390px){
  .card-esp{
    padding: 23.2%;
  }
}
/* @media (min-width:1890px){
  .card-esp{
    padding: 23.39%;
  }
} */
.txt-card{
  font-size: 22px;
}
.txt-verde-card{
  font-size: 26px;
  font-weight: 500;
  color: #07D730;
}
/* .center{
  text-align: center;
} */
.center{
  text-align: center;
  z-index: 1;
  position: relative;
}
.rojo-card{
  font-size: 26px;
  font-weight: 500;
  color: red;
}
.azul-card{
  font-size: 26px;
  font-weight: 500;
  color: #17a2b8;
}
.breadcrumb{
  display: none;
}
.canvas-container {
   min-height: 100px;
   max-height: 440px;
   position: relative;
 }
/* estilos modal*/
.txt-modal{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.esp-modal-cont{
  padding: 0 1rem;
  padding-bottom: 1rem;
}
.esp-modal-btn{
  padding-top: 2rem;
  float: right;
}
.tab-content{
  border: none;
}
.no-border{
  border:none;
  padding-bottom: 0;
}
/* estilo para poner el cursor en los engranes o configuracion de las card */
.cui-cog,.fa-save{
  cursor: pointer;
}
.icon-conf{
  color: #E2E6E8;
  float: right;
}
.icon-conf:hover{
  color: #414547;
}
/* Icono guardar */
/* .icon-guardar{
  background-color: #fff;
  width: 38px;
  border-radius: 100px;
  border: 1px solid #c8ced3;
} */
.icon-guardar{
  background-color: #FBFCFD;
  border-radius: 100px;
  border: 1px solid #c8ced3;
  padding: 0px 8px;
  padding-bottom: 3px;
  position: absolute;
  z-index: 2;
  margin-top: -13px;
  margin-left: -22px;
}
/*# sourceMappingURL=dashbord.css.map */