.titulo{
  color:#3076A2;
}
.btn-agregar{
  font-size: 15px;
}
.text-fil{
  font-weight: 500;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-top: 10px;
  font-size: 16px;
}
.btn-buscar-fil{
  margin-top: 20px;
  padding: 10px 30px;
}
/*# sourceMappingURL=filtro.css.map */