.titulo-form{
  color:#3076A2;
  font-size: 22px;
  text-transform: uppercase;
}
.btn-agregar-form{
  padding: 3px 7px;
  margin-top: 3px;
}
.col-md-2{
  padding: 0;
}
.text-form{
  font-weight: 500;
  margin-bottom: 5px;
  margin-left: 3px;
  font-size: 14px;
}
.btns-form button{
  font-size: 14px;
}
.btn-form .btn-danger{
  margin-left: 10px;
}
/*# sourceMappingURL=form1.css.map */