.align-center {
    text-align: center;
}

.text-med {
    margin-right: 15px;
    margin-top: 5px;
}


/* cabecera de la tabla */

.cabecera {
    background-color: #BBEEFF;
}


/* El borde de abajo de la cabecera */

.table thead tr th {
    border: none!important;
}


/* border top de la primera fila del contenido */

.no-border-top {
    border-top: none!important;
}


/* Color de las lineas de las filas */

.table th,
.table td {
    border-top: 1px solid #E9EEF1;
}


/* El borde de abajo de la tabla */

.border-ab {
    border-bottom: 1px solid #E9EEF1;
}


/* estilos de botones agrupados */

.btn-outline-primary {
    color: #20a8d8;
    border-color: #c8ced3;
    color: #c8ced3;
}
/*# sourceMappingURL=graficas2.css.map */