/* estilos globales */

p {
    margin-top: 0;
    margin-bottom: 0.1rem!important;
}

.titulo {
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    color: #4D4F5C;
    font-weight: 400;
}

.card-titulo-gris {
    font-weight: 400;
    color: #B0B0B0;
}


/* espacio entre el titulo y el texto */

.esp {
    margin-top: 1rem;
}

.card-txt {
    font-size: 16px;
    font-weight: 500;
}

.card-txt-gris {
    color: #B0B0B0;
}

.i-esp {
    margin-right: 5px;
}

.card-inferior {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}


/* estilos de la tarjeta roja o tinta, tarjetas 1,4,9*/

.card-border-rojo {
    border: 4px solid #C80000;
}

.card-titulo-rojo {
    color: #C80000;
    margin-left: 5px;
}

.card-txt-rojo {
    color: #CF1F1F;
}


/* estilos de la tarjeta amarilla, tarjeta 2*/

.card-border-amarilla {
    border: 4px solid #EBE378;
}

.card-titulo-amarilla {
    color: #EBE378;
    margin-left: 5px;
}

.card-txt-amarilla {
    color: #EBE378;
}


/* estilos de la tarjeta naranja, tarjeta 3*/

.card-border-naranja {
    border: 4px solid #FF5700;
}

.card-titulo-naranja {
    color: #FF5700;
    margin-left: 5px;
}

.card-txt-naranja {
    color: #FF5700;
}


/* estilos de la tarjeta lila/morado, tarjeta 4*/

.card-border-lila {
    border: 4px solid #B92AFF;
}

.card-titulo-lila {
    color: #B92AFF;
    margin-left: 5px;
}

.card-txt-lila {
    color: #B92AFF;
}


/* estilos de la tarjeta verde, tarjeta 5*/

.card-border-verde {
    border: 4px solid #009F4A;
}

.card-titulo-verde {
    color: #009F4A;
    margin-left: 5px;
}

.card-txt-verde {
    color: #009F4A;
}


/* estilos de la tarjeta azul, tarjeta 6*/

.card-border-azul {
    border: 4px solid #4EA0D5;
}

.card-titulo-azul {
    color: #4EA0D5;
    margin-left: 5px;
}

.card-txt-azul {
    color: #4EA0D5;
}


/* estilos de la tarjeta morado, tarjeta 8*/

.card-border-morado {
    border: 4px solid #C8008C;
}

.card-titulo-morado {
    color: #C8008C;
    margin-left: 5px;
}

.card-txt-morado {
    color: #C8008C;
}
/*# sourceMappingURL=graficas4.css.map */