.main {
    background-color: #fff;
}

.container-fluid {
    width: 90%!important;
}

.titulo {
    font-size: 40px;
    padding-bottom: 10px;
    color: #4D4F5C;
    font-weight: 400;
    text-align: center;
}

.graf-titulo {
    text-align: center;
    padding: 10px;
}
/*# sourceMappingURL=graficas3.css.map */