tr,
td {
    text-align: center;
}

.esp-ab {
    margin-bottom: 12px;
}


/* cabecera de la tabla */

.cabecera {
    background-color: #BBEEFF;
}


/* El borde de abajo de la tabla */

.border-ab {
    border-bottom: 1px solid #E9EEF1;
}


/* quitar el borde de abajo de la cabecera */

.table thead tr th {
    border: none!important;
}


/* borde de las filas */

.table th,
.table td {
    border-top: 1px solid #E9EEF1;
}


/* border top de la primera fila del contenido */

.no-border-top {
    border-top: none!important;
}


/* titulo principal */

.titulo {
    margin-right: 51px;
    text-transform: uppercase;
    color: #4EA0D5;
    font-weight: 400;
    font-size: 30px;
}


/* Boton agregar que estas arriba */

.btn-agre {
    background-color: #4EA0D5;
    border-color: #4EA0D5;
    font-size: 15px;
}


/* icono que esta en checklist */

.imagen {
    height: 30px;
    width: 40px;
}


/* iconos de acciones */

.ico-a {
    padding: 5px 14px;
    margin-right: 4px;
}

.icon-a {
    padding: 5px 9px;
    margin-right: 4px;
}

.icono {
    font-size: 18px;
}

.azl {
    color: #4EA0D5;
}

.azl:hover {
    color: #fff;
}

.gris {
    color: #3C3B3B;
}


/*checkbox */

input[type="checkbox"] {
    margin-top: 12px;
}


/*# sourceMappingURL=listadoCatalogo.css.map */