/*-------------ESTILOS DEL LOGIN----------------------------*/

.imagen-centro {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90px;
}

.card {
    border-radius: 10px!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}

.app {
    background-color: white;
}

@media only screen and (min-width: 1200px) {
    .div-check {
        padding-left: 2.25rem!important;
    }
}

@media only screen and (min-width: 700px) and (max-width:1100px) {
    .div-check {
        padding-right: 5.25rem!important;
    }
}

@media only screen and (min-width: 300px) and (max-width:375px) {
    .div-check {
        padding-left: 0.25rem!important;
    }
}
/*# sourceMappingURL=login.css.map */