.logo{
  width: 51px;
  height: 51px;
}
.sidebar{
  /* background: #3c4b64; */
}
.icon-moon{
  color: rgba(0,0,21,.5);
  padding-bottom: 9px;
}
.codigo-lenguaje{
  font-weight: 600;
}
/*# sourceMappingURL=menuLateral.css.map */