/* estilos filtro, sección uno */


/* espacio de todo el contenido */

.card-esp-filtro {
    padding: 1rem;
    padding-top: 5px;
}


/* titulo del filtro */

.titulo-filtro {
    color: #3076A2;
    font-size: 22px;
    text-transform: uppercase;
}


/* tamaño del boton de agregar */

.btn-agregar {
    font-size: 15px;
}


/* estilos del texto del filtro */

.text-fil {
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-top: 10px;
    font-size: 16px;
}


/* espaciado del boton buscar */

.btn-buscar-fil {
    margin-top: 15px;
    padding: 5px 20px;
}


/* estilos del listado, sección dos */


/* aliniacion del contenido de la tabla */

.border-ab tr,
.border-ab td {
    text-align: center;
}


/* color de la cabecera de la tabla */

.cabecera {
    background-color: #BBEEFF;
}


/* El borde de abajo de la tabla */

.border-ab {
    border-bottom: 1px solid #E9EEF1;
}


/* quitar el borde de abajo de la cabecera */

.table thead tr th {
    border: none!important;
}


/* borde de las filas */

.table th,
.table td {
    border-top: 1px solid #E9EEF1;
}


/* border top de la primera fila del contenido */

.no-border-top {
    border-top: none!important;
}


/* Boton agregar que estas arriba */

.btn-agre {
    background-color: #4EA0D5;
    border-color: #4EA0D5;
    font-size: 15px;
}


/* icono que esta en checklist */

.imagen {
    height: 30px;
    width: 40px;
}


/* iconos de acciones */

.i-a {
    padding: 5px 14px;
    margin-right: 4px;
}

.icon-a {
    padding: 5px 9px;
    margin-right: 4px;
}

.icono {
    font-size: 18px;
}

.azl {
    color: #4EA0D5;
}

.azl:hover {
    color: #fff;
}

.gris {
    color: #3C3B3B;
}


/*checkbox */

input[type="checkbox"] {
    margin-top: 12px;
}
/*# sourceMappingURL=ordenTrabajo.css.map */