.btn-agregar-form{
  padding: 3px 7px;
  margin-top: 3px;
}
.col-md-2{
  padding: 0;
}
.text-form{
  font-weight: 500;
  margin-bottom: 5px;
  margin-left: 3px;
  font-size: 14px;
}
.textarea-form{
  margin-bottom: 12px;
}
/*.esp{
  margin-top: 15px;
}*/
.btn-form button{
  font-size: 14px;
}
.btn-form .btn-danger{
  margin-left: 10px;
}
.tab-content .tab-pane {
  padding: 2rem!important;
}
<<<<<<< HEAD
/*# sourceMappingURL=tabs.css.map */
=======
<<<<<<< HEAD


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
color: #33C1FF!important;
}
/*# sourceMappingURL=tabs.css.map */
=======
/*# sourceMappingURL=form1.css.map */
>>>>>>> 6cbb7866c5620d35ebabb96ad4738f82f6590c2a
>>>>>>> c641e4179e5382a46e030939e5e63af659a2883b
