
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Łukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <title>CoreUI Pro Bootstrap Admin Template</title>
  <!-- Icons-->
  <link rel="icon" type="image/ico" href="./img/favicon.ico" sizes="any" />
  <link href="node_modules/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
  <link href="node_modules/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
  <link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="node_modules/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <!-- Main styles for this application-->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/list.css" rel="stylesheet">
  <link href="vendors/pace-progress/css/pace.min.css" rel="stylesheet">

  <!-- Bootstrap and necessary plugins-->
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="node_modules/pace-progress/pace.min.js"></script>
  <script src="node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
  <script src="node_modules/@coreui/coreui-pro/dist/js/coreui.min.js"></script>

  <!-- IMPORTS DEL DATATABLE-->
  <link href="node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
  <!-- Plugins and scripts required by this view-->
  <script src="node_modules/datatables.net/js/jquery.dataTables.js"></script>
  <script src="node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
  <script src="js/datatables.js"></script>
</head>



<div class="animated fadeIn">
  <div class="card">
      <div class="card-header">
          <i class="fa fa-edit"></i> DataTables
          <div class="card-header-actions">
            <a class="card-header-action" href="https://datatables.net" target="_blank">
              <small class="text-muted">docs</small>
            </a>
          </div>
        </div>
    <div class="card-body">
      <h3 class="titulo">EJEMPLO DE LISTADO  <button class="btn  btn-primary boton-agregar" type="button">  <i class="fa fa-plus"></i> Añadir nuevo</button></h3>

      <table class="table table-striped table-bordered datatable">
        <thead class="cabecera">
          <tr>
            <th>Username</th>
            <th>Date registered</th>
            <th>Role</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Anton Phunihel</td>
            <td>2012/01/01</td>
            <td>Member</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger"   href="#dangerModal">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Alphonse Ivo</td>
            <td>2012/01/01</td>
            <td>Member</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Thancmar Theophanes</td>
            <td>2012/01/01</td>
            <td>Member</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Walerian Khwaja</td>
            <td>2012/01/01</td>
            <td>Member</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Clemens Janko</td>
            <td>2012/02/01</td>
            <td>Staff</td>
            <td>
              <span class="badge badge-danger">Banned</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Chidubem Gottlob</td>
            <td>2012/02/01</td>
            <td>Staff</td>
            <td>
              <span class="badge badge-danger">Banned</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Hristofor Sergio</td>
            <td>2012/03/01</td>
            <td>Member</td>
            <td>
              <span class="badge badge-warning">Pending</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Tadhg Griogair</td>
            <td>2012/03/01</td>
            <td>Member</td>
            <td>
              <span class="badge badge-warning">Pending</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Pollux Beaumont</td>
            <td>2012/01/21</td>
            <td>Staff</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Adam Alister</td>
            <td>2012/01/21</td>
            <td>Staff</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Carlito Roffe</td>
            <td>2012/08/23</td>
            <td>Staff</td>
            <td>
              <span class="badge badge-danger">Banned</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Sana Amrin</td>
            <td>2012/08/23</td>
            <td>Staff</td>
            <td>
              <span class="badge badge-danger">Banned</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Adinah Ralph</td>
            <td>2012/06/01</td>
            <td>Admin</td>
            <td>
              <span class="badge badge-dark">Inactive</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Dederick Mihail</td>
            <td>2012/06/01</td>
            <td>Admin</td>
            <td>
              <span class="badge badge-dark">Inactive</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Hipólito András</td>
            <td>2012/03/01</td>
            <td>Member</td>
            <td>
              <span class="badge badge-warning">Pending</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Fricis Arieh</td>
            <td>2012/03/01</td>
            <td>Member</td>
            <td>
              <span class="badge badge-warning">Pending</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Scottie Maximilian</td>
            <td>2012/03/01</td>
            <td>Member</td>
            <td>
              <span class="badge badge-warning">Pending</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Bao Gaspar</td>
            <td>2012/01/01</td>
            <td>Member</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Tullio Luka</td>
            <td>2012/02/01</td>
            <td>Staff</td>
            <td>
              <span class="badge badge-danger">Banned</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Felice Arseniy</td>
            <td>2012/02/01</td>
            <td>Admin</td>
            <td>
              <span class="badge badge-dark">Inactive</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Finlay Alf</td>
            <td>2012/02/01</td>
            <td>Admin</td>
            <td>
              <span class="badge badge-dark">Inactive</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Theophilus Nala</td>
            <td>2012/03/01</td>
            <td>Member</td>
            <td>
              <span class="badge badge-warning">Pending</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Sullivan Robert</td>
            <td>2012/03/01</td>
            <td>Member</td>
            <td>
              <span class="badge badge-warning">Pending</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Kristóf Filiberto</td>
            <td>2012/01/21</td>
            <td>Staff</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Kuzma Edvard</td>
            <td>2012/01/21</td>
            <td>Staff</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Bünyamin Kasper</td>
            <td>2012/08/23</td>
            <td>Staff</td>
            <td>
              <span class="badge badge-danger">Banned</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Crofton Arran</td>
            <td>2012/08/23</td>
            <td>Staff</td>
            <td>
              <span class="badge badge-danger">Banned</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Bernhard Shelah</td>
            <td>2012/06/01</td>
            <td>Admin</td>
            <td>
              <span class="badge badge-dark">Inactive</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Grahame Miodrag</td>
            <td>2012/03/01</td>
            <td>Member</td>
            <td>
              <span class="badge badge-warning">Pending</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Innokentiy Celio</td>
            <td>2012/03/01</td>
            <td>Member</td>
            <td>
              <span class="badge badge-warning">Pending</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Kostandin Warinhari</td>
            <td>2012/03/01</td>
            <td>Member</td>
            <td>
              <span class="badge badge-warning">Pending</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Ajith Hristijan</td>
            <td>2012/03/01</td>
            <td>Member</td>
            <td>
              <span class="badge badge-warning">Pending</span>
            </td>
            <td>
              <a class="btn btn-success" href="#">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--MODAL 1--><!-- /.modal-->
<div class="modal fade" id="dangerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>One fine body…</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
          <button class="btn btn-danger" type="button">Save changes</button>
        </div>
      </div>
      <!-- /.modal-content-->
    </div>
    <!-- /.modal-dialog-->
</div>
  <script>

      $(document).ready( function () {
    $('.datatable').DataTable();
   $(".btn-danger").click(function(){
     $("#dangerModal").modal();
   })
} );
    </script>

  <!-- /.modal-->

  <!--FIN DE MODAL 1-->
